.ConverterField {
    width: 25vw;
    height: 12vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    border-radius: 90px;

}

.ConverterField:hover {
    border: 1px solid  rgba(0, 0, 0, 0.5);
}

.ConverterField > input {
    width: 10vw;
    height: 8vh;

    font-size: 2em;

    outline: none; /* remove default style */
    border: none; /* remove default style */
}

.ConverterField > button {
    width: 8vw;
    height: 5vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 45px;
    border: none;
}

.ConverterField > button:hover {
    background-color: grey;
}

.ConverterField > button > img {
    height: 80%;
}