.listCurrencies {
    width: 40vw;
    height: 80vh;

    position: absolute;
    top: 10vh;
    left: 30vw;

    padding: 0;

    border-radius: 45px;
    border: 2px solid rgb(112, 160, 50);
    background-color: rgb(141, 198, 71);

    z-index: 1000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.listCurrenciesInput {
    height: 5vh;
    width: 30vw;

    border-radius: 45px;

    font-size: 1.5em;

    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: .8vw 2vw;

    outline: none; /* remove default style */
    border: none; /* remove default style */
}

.listCurrenciesInput:focus, .listCurrenciesInput:hover {
    box-shadow:inset 0px 0px 0px 1px rgb(112, 160, 50);
}

.listCurrenciesUl {
    width: 100%;
    height: 50vh;

    overflow-y: scroll;
}

.listCurrenciesUl > li {
    height: 10vh;

    padding: 0 5vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.listCurrenciesUl > li:hover {
    cursor: pointer;
    background-color: rgb(112, 160, 50);
}

.listCurrenciesUl > li > img {
    width: 8vh;
    margin-right: 5vh;
}

.listCurrenciesUl > li > p {
    font-size: 1.5em;
    color: rgba(0, 0, 0, .8);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}